/vendor/
/node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
.env
.env.backup
.env.local
.env.*.backup

# Laravel
/public/storage
/storage/*.key
/storage/app/public

# Vite
/public/build
/.vite
vite.config.ts.timestamp-*

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Composer
composer.lock
phpunit.xml

# SQLite
database/*.sqlite-journal
